// Vendor
@import 'vendor/reset';

body {
	background-color: lightgray;
	background-image: linear-gradient(45deg, silver 25.5%, transparent 25%, transparent 75%, silver 75%, silver),
	linear-gradient(45deg, silver 25.5%, transparent 25%, transparent 75%, silver 75%, silver);
	background-size:20px 20px;
	background-position:0 0, 10px 10px;
}
